body {
    background-color: #f4f4f2;
    text-align: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5em;
    line-height: 1.5;
    color: hotpink;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
    color: plum;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 90;
    font-size: 1.25rem;
    line-height: 1;
    color: blue;
}

h6 {
  font-size: 0.10rem;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 70;
    font-size: 1.0rem;
    line-height: 1;
    color: rebeccapurple;
}

a {
    color: black;
    text-decoration: underline;
}

.btn {
    color: black;
}

.div-button {
    margin-left: 20px;
}

.headers {
    color: #ea2c62;
}

.paddings {
    padding: 1.5%;
}

.tick {
    color: forestgreen;
}

/* Navigation */

#navigation {
    background-color: #dee2e6;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-link {
    display: block;
    padding: 0.5rem 0.5rem;
    color: #1abc9c;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}


.icon {
    color: purple;
    padding-bottom: 1rem;
    margin-top: 5rem;
}

.icon:hover {
    color: #ea2c62;
}

.features_add {
    font-weight: 900;
    font-size: 1.5rem;
    text-align: center;
    padding: 5%;
}

.features_row {
    color: #495464;
    text-align: center;
    padding: 0 10%;
    margin-bottom: 5rem;
}


/* About us section */


/* Footer section */
#footer {
    background-color: #8ac6d1;
    padding-bottom: 1px;
}

/*#footer-fixed {*/
/*    position: fixed;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*    !*background-color: #8ac6d1;*!*/
/*    color: white;*/
/*    text-align: center;*/
/*    font-size: smaller;*/
/*}*/

.logo {
    margin: 1rem;
    float: left;
}

nav {
    float: right;
}

.copyright {
    color: #8f8f8f;
    text-align: center;
    margin-bottom: 0;
}

/*login*/

#login {
    padding: 5%;
}

.wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* Profile section*/
.user {
    padding-top: 10px;
    padding-bottom: 10px;
}

body {
  background-color: white;
}

.carousel-inner > .item {
  height: 100vh;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-height: 800px;
  width: auto;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}
.carousel-caption {
position: absolute;
  top: 30%;


}