{% extends 'shared/partials/base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="jumbotron parent">
            <img style="width: 50%; height: 50%; text-align: center"
                 src="{% static 'images/index.jpg' %}" alt="">
            <div class="absolute">
                <h1 class="display-4"><strong><em>An Expert Guide to Plan Your Perfect day</em></strong></h1>
                <h1 class="display-3"><strong><em>Your Way...</em></strong></h1>
            </div>
        </div>
    </div>
{% endblock %}