{% extends 'shared/partials/base.html' %}
{% load static %}

{% block content %}
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <section id="testimonials">
        <div class="carousel-inner" role="listbox">
            <div id="testimonial-carousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li
                            data-target="#testemonial-carousel"
                            data-slide-to="0"
                            class="active"
                    ></li>
                    <li data-target="#testemonial-carousel" data-slide-to="1"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <h5>
                            MONICA & DUSTIN
                        </h5>
                        <img
                                class="testimonials-image
"
                                src="{% static 'images/monica_dustin.jpg' %}"
                                alt=""/>
                        <p><em><strong>From the beginning of our planning process, our planner was incredible!</strong></em>
                        </p>
                    </div>
                    <div class="carousel-item">
                        <h5 class="testimonial-text">
                            DYANA & JOSH
                        </h5>
                        <img
                                class="testimonials-image"
                                src="{% static 'images/dyana_josh.jpg' %}"
                                alt="unicorn cake"
                        />
                        <p><em><strong>My Wedding planner was with us all day from beginning to end making sure all our
                            wishes were met.</strong></em></p>
                    </div>
                    <div class="carousel-item">
                        <h5 class="testimonial-text">
                            MELANIE & ERIC
                        </h5>
                        <img
                                class="testimonials-image"
                                src="{% static 'images/melanie_eric.jpg' %}"
                                alt="unicorn cake"
                        />
                        <p><em><strong>Thank you so much for being a part of Eric and my special day.</strong></em></p>
                    </div>
                    <a
                            class="carousel-control-prev"
                            href="#testimonial-carousel"
                            role="button"
                            data-slide="prev"
                    >
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a
                            class="carousel-control-next"
                            href="#testimonial-carousel"
                            role="button"
                            data-slide="next"
                    >
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </a>
                </div>

                {#    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">#}
                {#        <ol class="carousel-indicators">#}
                {#            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>#}
                {#            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>#}
                {#            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>#}
                {#        </ol>#}
                {#        <div class="carousel-inner">#}
                {#            <div class="carousel-item active">#}
                {#                <img src="{% static 'images/monica_dustin.jpg' %}" alt="...">#}
                {#                <div class="carousel-caption d-none d-sm-block">#}
                {#                    <h5><strong>MONICA & DUSTIN</strong></h5>#}
                {#                    <p><em><strong>From the beginning of our planning process, our planner was incredible!</strong></em>#}
                {#                </p>#}
                {#                </div>#}
                {#            </div>#}
                {#            <div class="carousel-item active">#}
                {#                <img src="{% static 'images/dyana_josh.jpg' %}" alt="...">#}
                {#                <div class="carousel-caption d-none d-sm-block">#}
                {#                    <h5><strong>DYANA & JOSH</strong></h5>#}
                {#                    <p><em><strong>My Wedding planner was with us all day from beginning to end making sure all#}
                {#                        our wishes were met.</strong></em></p>#}
                {#                </div>#}
                {#            </div>#}
                {#            <div class="carousel-item active">#}
                {#                <img src="{% static 'images/melanie_eric.jpg' %}" alt="...">#}
                {#                <div class="carousel-caption d-none d-sm-block">#}
                {#                    <h5><strong>MELANIE & ERIC</strong></h5>#}
                {#                    <p><em><strong>From the beginning of our planning process, our planner was incredible!</strong></em>#}
                {#                    </p>#}
                {#                </div>#}
                {#            </div>#}
                {#        </div>#}
                {#        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">#}
                {#            <span class="carousel-control-prev-icon" aria-hidden="true"></span>#}
                {#            <span class="sr-only">Previous</span>#}
                {#        </a>#}
                {#        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">#}
                {#            <span class="carousel-control-next-icon" aria-hidden="true"></span>#}
                {#            <span class="sr-only">Next</span>#}
                {#        </a>#}
                {#    </div>#}


{% endblock %}