{% extends 'shared/partials/base.html' %}

{% block content %}
    <div class="container-fluid" style="background-image: none">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <form style="border: 1px solid grey; margin: 10% 0; padding: 10% 5%" method="post">
                    <h2>Sign up</h2>
                    {% csrf_token %}
                    {{ form }}

                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button type="submit" class="btn btn-outline-info">Register</button>
                    </div>

                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

                    <span>Have an account?<a href="{% url 'login' %}" style="color:purple">Login here</a></span>

                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

                </form>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
{% endblock %}