{% extends 'shared/partials/base.html' %}

{% block content %}
    <div class="d-flex">
        <div class="d-inline p-2 w-50">
            <div class="card"></div>
            <img src="{{ tasks.image.url }}" class="w-50 rounded mx-auto d-block" alt="">
        </div>
        <div class="d-inline p-2 w-50">
            <div class="d-flex justify-content-center" style="background: #f4f4f2">
                <ul class="list-group list-group-flush" style="background: #f4f4f2">
                    <li class="list-group-item" style="background: #f4f4f2"><u>Category</u> {{ tasks.category }}</li>
                    <li class="list-group-item" style="background: #f4f4f2"><u>Name</u> {{ tasks.name }}</li>
                    <li class="list-group-item" style="background: #f4f4f2"><u>Budget</u> {{ tasks.budget }}</li>
                    <li class="list-group-item" style="background: #f4f4f2"><u>Owner</u> {{ tasks.user.email }}</li>
                    <li class="list-group-item" style="background: #f4f4f2"><u>Note</u> {{ tasks.note }}</li>
                </ul>
            </div>
            {% if is_owner %}
                <div>
                    <a href="{% url 'edit task' tasks.pk %}" class="btn btn-outline-success">Edit</a>
                    <a href="{% url 'delete task' tasks.pk %}" class="btn btn-outline-danger">Delete</a>
                </div>
            {% else %}
                <a href="{% url 'task like' tasks.pk %}">
                    {% if is_liked %}
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                    {% else %}
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    {% endif %}
                </a>
                <p class="mt-2">Likes: {{ tasks.likes_count }}</p>
            {% endif %}
        </div>
    </div>
    <div class="d-block" style="background-color: #f1e3e3; padding:2%">
        {% if comments %}
            {% for comment in comments %}
                <div class="box">
                    <h5><u>{{ comment.user }}</u>: <em>{{ comment.comment }}</em></h5>
                    <hr>
                </div>
            {% endfor %}
        {% else %}
            <div class="box">
                <h3>There are no comments for this task.</h3>
            </div>
        {% endif %}
        {% if not is_owner %}
            <div class="box">
                <form method="post" action="{% url 'task comment' tasks.pk %}">
                    {% csrf_token %}
                    {{ comment_form }}
                    <button class="btn btn-primary mt-2" type="submit">Add comment</button>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}